* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.heading {
  text-align: center;
  margin-bottom: 10px;
}

.buttons {
  text-align: center;
  margin-bottom: 5px;
}

.text {
  text-align: center;
}
